<div class="container">
  <%= simple_form_for(@guest) do |f| %>
  <div class="d-flex wrapping-inline">
                  <%= f.input :nom,
                              label: "Nom",
                              placeholder: "Desjardins",
                              wrapper_html: {
                                class: "form-inline-field-small"
                              }
                  %>
    <%= f.input :prenom,
                label: "Prénom",
                placeholder: "Marie-Louise",
                hint: "Merci d'indiquer le prénom de la personne répondant pour elle ou les personnes dont elle est responsable",
                wrapper_html: {
                  class: "form-inline-field-large"
                }
    %>
    </div>
    <%= f.input :email,
                label: "Email",
                placeholder: "marie-louise.desjardins@gmail.com",
                hint: "La confirmation de participation sera envoyée sur cet email. Merci d'indiquer un email que vous consultez régulièrement",
                wrapper_html: {
                  class: "form-inline-field-large"
                }
    %>
    <%= f.input :participation,
                label: "Nous serons là ?",
                as: :radio_buttons,
                collection: [['Oui !', 'Yes'], ["Malheureusement, non ... Snif !", "No"]]


    %>
    <%= f.input :plus_un,
                label: "Je serai accompagné-e ?",
                as: :radio_buttons,
                collection: [['Oui, nous serons plusieurs', 'Yes'], ["Non, je viens solo", "No"]]

    %>
    <%= f.input :nb_adultes,
                label: "Merci d'indiquer combien de personnes de plus de 12 ans seront présentes",
                as: :radio_buttons,
                collection: (1..7)
    %>
    <%= f.input :nb_enfants,
                label: "Merci d'indiquer le nombre d'enfants ayant entre 3 et 12 ans qui seront présents le jour du mariage",
                as: :radio_buttons,
                collection: (1..7)

    %>
    <%= f.input :brunch,
                # label: plus_un == true ? 'Nous serons présents au brunch le dimanche matin' : 'Je serai présent-e au brunch le dimanche',
                as: :radio_buttons,
                collection: [['Oui !', 'Yes'], ["Non", "No"]]
    %>
    <%= f.input :hebergement,
                label: "Pour l'hébergement ...",
                collection: ["Nous dormirons sur place", "Nous trouverons un hébergement par mes propres moyens"],
                # collection: GUEST::HEBERGEMENT_MULTI,
                as: :radio_buttons,
                collection_wrapper_tag: 'div',
                collection_wrapper_class: 'category-wrapper',
                item_wrapper_class: 'category-item',
                input_html: {class: 'category-selector'}

    %>
    <%= f.input :contraintes_alimentaires,
                label: "Avez vous des allergies ou régimes alimentaires spécifiques ?",
                as: :text
    %>
    <%= f.input :musique,
                label: "Quelles sont les musiques que vous aimeriez entendre lors de la fête ?",
                as: :text
    %>
    <%= f.submit "Envoyer la réponse aux mariés", class: "btn btn-success" %>
  <% end %>
</div>
